
.navbar{
    padding: 20px;
    background-color: #082149;
    font-size: 15px;
}
.navbar ul{
    border-bottom: 3px solid #fff;
}
.navbar ul li a{
    padding: 25px;
    color: #fff !important;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}
.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0;
}
.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135);
}
.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -20px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar {
   opacity: 1;
   filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar {
    margin-top: 20px;
    transform: rotate(0deg)
    ;
}
.navbar-toggler.navbar-toggler.collapsed .toggler-icon{
    background-color: white;
}
.banner-image{
    position: relative;
    background-image: url("../img/banner.png");
    border-bottom: 2px solid #f7de20;
    transition: 1s
}
.banner-content{
    margin-top: 50px !important;
    padding: 20% 0 15% 100% ;
    background: #f0e68caf;
    text-align: right;  
}
.banner-content ul li{
    list-style: none;
    line-height: 28px;
}
.banner-content ul li p{
    margin-top: 0;
    text-align: left;
    font-size: 1.2em;
    font-weight: 700;
    color: #082149;
}
.banner-content ul li a{
    margin-bottom: 100px;
    font-size: 2.5em;
    font-weight: 700;
    text-shadow:1px 1px 1px #000;
    text-decoration:none;
    color: #f7a600;
    transition: 0.30s;
}
.banner-content ul li a:hover{
    color: #f7d200;
}

.banner-content .barra{
    margin-bottom: 10px;
    width:75px;
    text-align: left;   
    border-top: 3px solid #082149;
    box-sizing: border-box;
}
.banner-content span img{
    position:absolute;
    top:97%;
    right: 12%;
    border:10px solid #f7a600;
    background: #f7a600;
}
.container .contents{
    margin-top: 8vh;
}
.container .contents h2{
    margin-bottom: 60px;
    font-weight:700 ;
    color: #0c2a5b;
}
.container .contents ul li p{
    margin-top: 40px;
}
.container .contents p{
    margin: 60px 0 40px 0;
    word-spacing: 5px;
    color: #393f47;
}
.container .option-buttons{
    margin:10px 0 120px 0;
    text-align:center ;
    display: flex;
    justify-content: center;    
}
.container .option-buttons .btn {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #212529;
    border-radius: 30px;
    width: 200px;
}
.footer{
    background: #082149;
}
.footer .footer-container{
    padding: 2px;
    text-align: center;
    align-items: center;
    color: #fff;
}
.footer .footer-logo a img{
    width: 18vh;
}
@media (min-width: 573px){
    .navbar  a{
        font-size: 1.5em;
    }
    
    .banner-content{
        background: none;  
    }
    .banner-content ul li:nth-child(3),.banner-content ul li:nth-child(2),.banner-content ul li:nth-child(1){
        margin-left: 36%;
    }
    .banner-content ul li p{
        font-size: 1.4em;
    }
    .banner-content ul li a{
       font-size: 2em;
       text-shadow: 1px 1px 1px #082149;
    }
}
@media (min-width: 992px){
    .navbar{
        text-align: center;
    }
    .navbar ul{
        margin-left: 16%;
        padding: 5px;
        border-bottom: none;
    }
    .navbar ul li:nth-child(1){
        margin-top: 0;
    }
    .navbar ul li a{
        font-size: 1em;
    }
    .banner-content{
        margin-top: 50px !important;
        padding: 12% 0 15%  ;
        background: none;
        text-align: right;  
    }
    .banner-content ul li:nth-child(3),.banner-content ul li:nth-child(2),.banner-content ul li:nth-child(1){
        margin-left: 66%;
    }
    .banner-content ul li p{
        font-size: 1.4em;
    }
    .banner-content ul li a{
        font-size: 3em;
        text-shadow: 1px 1px 1px #082149;
    }
}
@media (min-width: 1200px){
    .navbar ul li a:hover{
        margin-left: 5px;
    }
   
    .banner-content{
        margin-top: 50px !important;
        padding: 12% 0 12%  ;
        background: none;
        text-align: right;  
    }
    .banner-content ul li:nth-child(3),.banner-content ul li:nth-child(2),.banner-content ul li:nth-child(1){
        margin-left: 47%;
    }
    .banner-content ul li:nth-child(3){
        margin-right: 5%;
    }
    .banner-content ul li{
        list-style: none;
        line-height: 45px;
    }
    .banner-content ul li p{
        font-size: 2em;
    }
    .banner-content ul li a{
        margin-bottom: 100px;
        font-size: 4em;
        font-weight: 700;
        text-shadow:none;
        text-decoration:none;
        color: #f7a600;
        transition: 0.30s;
    }
    .banner-content .barra{
        width:125px;
        margin-bottom: 12px;
        text-align: left;   
        border-top: 4px solid #082149;
        box-sizing: border-box;
    }
    .banner-content span img{
        margin-right: 11%;
    }
    
    .container .option-buttons{
        margin:40px 0 150px 0;
        text-align:center ;
    }
    
    .container .option-buttons .btn{
        margin:10px 20px;
        padding: 40px;
        border: 2px solid #082149;
        border-radius: 50px;
        box-shadow: inset 0 0 0 0  #082149;
        outline: none;
        color:#393f47;
        width: 300px;
    }
    .container .option-buttons a:nth-child(1){
        padding: 10px 68px 10px 68px;
    }
    .container .option-buttons a:nth-child(2){
        padding: 10px 40px 10px 40px;  
    }

    .footer .footer-container{
        margin-right: 8%;
        display: flex;
        justify-content:center;
    }
    .footer .footer-text{
        margin-right: 3%;
        font-size: 1.1em;
    }
    .footer .footer-logo a img{
        margin:0 15px 0 10px;
        width: 15vh;
        align-items: center;       
    }
}